joblib==1.5.3
kafka-python==2.3.0
numpy==1.26.4
pandas==2.3.3
pip==24.0
py4j==0.10.9.7
pyarrow==22.0.0
pyspark==3.4.4
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.8.0
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
spark-nlp==6.3.0
sparknlp==1.0.0
threadpoolctl==3.6.0
tzdata==2025.3